@import "../../../../../theme/mixins.scss";

$color-text-secondary: var(--ion-color-secondary);

.title-menu,
.text-dark {
  color: $color-text-secondary;
  font-weight: bold;
}

.title-menu {
  margin-top: 5%;
  font-weight: 700;
  margin-left: 5%;

  @include breakpoint-size(ms-extra-small) {
    font-size: var(--fs-text-title-xsm);
  }

  @include breakpoint-size(ms-small) {
    font-size: var(--fs-text-title-sm);
  }

  @include breakpoint-size(ms-extra-large) {
    font-size: var(--fs-text-title-xl);
  }
}

.container {
  padding: 0 10px;
}

.page {
  height: 65vh;
}
