<title-header
  [titlePath]="'Salir'"
  [path]="'/'"
  [title]="'Calidad'"
></title-header>

<ion-content>
  <ion-grid
    class="ion-justify-content-center ion-align-self-center ion-text-center ion-align-items-center"
  >
    <ion-row size="12" class="ion-justify-content-around" style="width: 100%;">
      <ion-row size="5">
        <ion-button href="/product/inspection" color="secondary" class="btn">
          <div class="btn-menu">
            <span>
              Inspección de
            </span>
            <span>
              producto
            </span>
          </div>
        </ion-button>
      </ion-row>
      <ion-row size="5">
        <ion-button href="" color="secondary" class="btn">
          <div class="btn-menu">
            <span>
              Etiqueta
            </span>
            <span>
              secado
            </span>
          </div>
        </ion-button>
      </ion-row>
    </ion-row>
  </ion-grid>
</ion-content>
