@import "../../../../../theme/mixins.scss";
$color-text-primary: #575552;
$color-text-secondary: #b2b2b2;

ion-grid {
  height: 80vh;
  display: flex;

  .title-menu {
    color: $color-text-primary;
    margin-top: 5%;
    font-weight: 700;
    margin-left: 5%;
    @include breakpoint-size(ms-extra-small) {
      font-size: var(--fs-text-title-xsm);
      height: 35px;
    }

    @include breakpoint-size(ms-small) {
      font-size: var(--fs-text-title-sm);
      height: 45px;
    }

    @include breakpoint-size(ms-medium) {
      font-size: var(--fs-text-title-md);
      height: 30px;
    }

    @include breakpoint-size(ms-extra-large) {
      font-size: var(--fs-text-title-xl);
      height: 40px;
    }
  }
  .subtitle-menu {
    color: $color-text-secondary;
    margin-top: 4%;
    margin-left: 5%;
    margin-bottom: 15%;

    @include breakpoint-size(ms-extra-small) {
      font-size: var(--fs-text-title-xsm);
      height: 35px;
    }

    @include breakpoint-size(ms-small) {
      font-size: var(--fs-text-title-sm);
      height: 45px;
    }

    @include breakpoint-size(ms-medium) {
      font-size: var(--fs-text-title-md);
      height: 30px;
    }

    @include breakpoint-size(ms-extra-large) {
      font-size: var(--fs-text-title-xl);
      height: 40px;
    }
  }
  .container-button {
    height: 37vh;
    width: 100%;
  }
}

.container {
  height: 80vh;
  width: 100vw;
}

.btn {
  height: 25vh;
  width: 40vw;

  //   padding: 100px;
  &-menu {
    display: flex;
    flex-direction: column;
    border-radius: 5px;

    @include breakpoint-size(ms-extra-small) {
      font-size: var(--fs-text-title-xsm);
    }

    @include breakpoint-size(ms-small) {
      font-size: var(--fs-text-title-sm);
    }

    @include breakpoint-size(ms-medium) {
      font-size: var(--fs-text-title-md);
    }

    @include breakpoint-size(ms-extra-large) {
      font-size: var(--fs-text-title-xl);
    }
  }
}
