<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-align-self-center">
        <div>
          <p class="ion-text-center text">
            Una vez guardada la información no podrá ser modificada
          </p>
          <p class="ion-text-center text">¿Deseas guardar la información?</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row
      class="ion-text-center buttons"
      style="display: flex; justify-content: space-evenly"
    >
      <ion-row>
        <ion-button class="accept" (click)="accept()"> Aceptar </ion-button>
      </ion-row>

      <ion-row>
        <ion-button class="cancel" (click)="cancel()"> Cancelar </ion-button>
      </ion-row>
    </ion-row>
  </ion-grid>
</ion-content>
