<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ion-grid fixed>
    <ion-row size="12">
      <ion-col>
        <ion-row class="title">Control Empaque</ion-row>
        <ion-row class="ion-justify-content-between">
          <ion-row class="title-ligth ion-justify-content-center">
            <ion-col class="ion-padding-top">Sin daños, limpio</ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-list>
              <ion-radio-group formControlName="packagingControl">
                <ion-row class="ion-justify-content-end">
                  <ion-item>
                    <ion-label>Aceptado</ion-label>
                    <ion-radio slot="start" value="true"></ion-radio>
                  </ion-item>

                  <ion-item>
                    <ion-label>Rechazado</ion-label>
                    <ion-radio slot="start" value="false"></ion-radio>
                  </ion-item>
                </ion-row>
              </ion-radio-group>
            </ion-list>
          </ion-row>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row size="12">
      <ion-col>
        <ion-row class="title">Materia extraña</ion-row>
        <ion-row class="ion-justify-content-between">
          <ion-row class="title-ligth ion-justify-content-center">
            <ion-col class="ion-padding-top">Ausente</ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-list>
              <ion-radio-group formControlName="foreignMatter">
                <ion-row>
                  <ion-item>
                    <ion-label>Aceptado</ion-label>
                    <ion-radio slot="start" value="true"></ion-radio>
                  </ion-item>

                  <ion-item>
                    <ion-label>Rechazado</ion-label>
                    <ion-radio slot="start" value="false"></ion-radio>
                  </ion-item>
                </ion-row>
              </ion-radio-group>
            </ion-list>
          </ion-row>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row size="12">
      <ion-col>
        <ion-row class="title">Transporte</ion-row>
        <ion-row class="ion-justify-content-between">
          <ion-row class="title-ligth ion-justify-content-center">
            <ion-col class="ion-padding-top">Limpio</ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center">
            <ion-list>
              <ion-radio-group formControlName="transport">
                <ion-row>
                  <ion-item>
                    <ion-label>Aceptado</ion-label>
                    <ion-radio slot="start" value="true"></ion-radio>
                  </ion-item>

                  <ion-item>
                    <ion-label>Rechazado</ion-label>
                    <ion-radio slot="start" value="false"></ion-radio>
                  </ion-item>
                </ion-row>
              </ion-radio-group>
            </ion-list>
          </ion-row>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row size="12">
      <ion-col>
        <ion-row class="title">Peso por pieza</ion-row>

        <ion-row class="ion-justify-content-between">
          <ion-row class="title-ligth ion-justify-content-center">
            <ion-col class="ion-padding-top">
              <div class="empaque">Según en empaque</div>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center">
            <ion-list>
              <ion-radio-group formControlName="weightPerPiece">
                <ion-row>
                  <ion-item>
                    <ion-label>Aceptado</ion-label>
                    <ion-radio slot="start" value="true"></ion-radio>
                  </ion-item>

                  <ion-item>
                    <ion-label>Rechazado</ion-label>
                    <ion-radio slot="start" value="false"></ion-radio>
                  </ion-item>
                </ion-row>
              </ion-radio-group>
            </ion-list>
          </ion-row>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row size="12">
      <ion-col>
        <ion-row class="title">Temperatura</ion-row>

        <ion-row class="ion-justify-content-between">
          <ion-row class="title-ligth ion-justify-content-center">
            <ion-col class="ion-padding-top">Máximo 4º C</ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center">
            <ion-list>
              <ion-radio-group formControlName="temperature">
                <ion-row>
                  <ion-item>
                    <ion-label>Aceptado</ion-label>
                    <ion-radio slot="start" value="true"></ion-radio>
                  </ion-item>

                  <ion-item>
                    <ion-label>Rechazado</ion-label>
                    <ion-radio slot="start" value="false"></ion-radio>
                  </ion-item>
                </ion-row>
              </ion-radio-group>
            </ion-list>
          </ion-row>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row size="12">
      <ion-col>
        <ion-row class="title">Olor</ion-row>

        <ion-row class="ion-justify-content-between">
          <ion-row class="title-ligth ion-justify-content-center">
            <ion-col class="ion-padding-top">Característico</ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center">
            <ion-list>
              <ion-radio-group formControlName="odor">
                <ion-row>
                  <ion-item>
                    <ion-label>Aceptado</ion-label>
                    <ion-radio slot="start" value="true"></ion-radio>
                  </ion-item>

                  <ion-item>
                    <ion-label>Rechazado</ion-label>
                    <ion-radio slot="start" value="false"></ion-radio>
                  </ion-item>
                </ion-row>
              </ion-radio-group>
            </ion-list>
          </ion-row>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
