<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ion-grid fixed>
    <ion-row class="ion-justify-content-around">
      <ion-col size="5">
        <ion-row>
          <ion-item class="form-input ion-no-padding">
            <ion-label class="ion-label" position="floating"
              >Producto*</ion-label
            >

            <ion-select
              placeholder="Seleccione un producto"
              style="--placeholder-color: black; --placeholder-opacity: 0.9"
              interface="action-sheet"
              (ionChange)="change($event)"
              [disabled]="disabled(lots)"
            >
              <ng-container *ngFor="let product of lots">
                <ion-select-option [value]="product">
                  {{ product.product }}
                </ion-select-option>
              </ng-container>
            </ion-select>
          </ion-item>
        </ion-row>
        <div class="error">
          <ion-label
            *ngIf="
              form.hasError('required', 'productId') &&
              (form.controls.productId.touched || form.controls.productId.dirty)
            "
          >
            Este campo es requerido.
          </ion-label>
          <ion-label *ngIf="form.hasError('whitespace', 'productId')">
            No has introducido caracteres.
          </ion-label>
        </div>
      </ion-col>

      <ion-col size="5">
        <ion-row>
          <ion-item class="form-input ion-no-padding">
            <ion-label class="ion-label" position="floating"
              >Lote y caducidad*</ion-label
            >

            <ion-select
              placeholder="Ingresa lote"
              style="--placeholder-color: black; --placeholder-opacity: 0.9"
              interface="action-sheet"
              (ionChange)="selectionLot($event)"
              [disabled]="disabled(filterProducts)"
            >
              <ng-container *ngFor="let lot of filterProducts">
                <ion-select-option [value]="lot">
                  {{ lot.lotId }}
                </ion-select-option>
              </ng-container>
            </ion-select>
          </ion-item>
        </ion-row>
        <div class="error">
          <ion-label
            *ngIf="form.get('productId').value!='' && lotId==null"
          >
            Este campo es requerido.
          </ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-around">
      <ion-col>
        <ion-item class="form-input ion-no-padding">
          <ion-select
              placeholder="Selecciona la presentación"
              style="--placeholder-color: black; --placeholder-opacity: 0.9"
              interface="action-sheet"
              (ionChange)="selectionPresentation($event)"
              [disabled]="!productPresentation.length"
            >
              <ng-container *ngFor="let presentation of productPresentation">
                <ion-select-option [value]="presentation.id">
                  {{ presentation.presentationType }} - {{presentation.keySae}}
                </ion-select-option>
              </ng-container>
            </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-around">
      <ion-col>
        <ion-item>
          <ion-button color="danger" disabled="{{ovenProductId==null}}" (click)="confirmCloseInspection()">Cerrar inspección a lote</ion-button>
          <ion-label style="color:gray;font-size: small;">Dar clic en caso de haber con todas las inspecciones a este lote.</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-around">
      <ion-col size="5">
        <ion-row>
          <ion-item class="form-input ion-no-padding">
            <ion-label class="ion-label" position="floating"
              >Fecha de ingreso*</ion-label
            >

            <ion-datetime
              displayFormat="YYYY-MM-DD"
              placeholder="Ingresa fecha"
              formControlName="expirationDate"
            >
            </ion-datetime>
          </ion-item>
        </ion-row>
        <div class="error">
          <ion-label
            *ngIf="
              form.hasError('required', 'expirationDate') &&
              (form.controls.expirationDate.touched ||
                form.controls.expirationDate.dirty)
            "
          >
            Este campo es requerido.
          </ion-label>
          <ion-label *ngIf="form.hasError('whitespace', 'expirationDate')">
            No has introducido caracteres.
          </ion-label>
        </div>
      </ion-col>

      <ion-col size="5">
        <ion-row>
          <ion-item class="form-input ion-no-padding">
            <ion-label class="ion-label" position="floating"
              >No. Paquetes/Piezas*</ion-label
            >
            <ion-input
              type="number"
              placeholder="Ingresa número"
              formControlName="numberPackages"
            >
            </ion-input>
          </ion-item>
        </ion-row>
        <div class="error">
          <ion-label
            *ngIf="
              form.hasError('required', 'numberPackages') &&
              (form.controls.numberPackages.touched ||
                form.controls.numberPackages.dirty)
            "
          >
            Este campo es requerido.
          </ion-label>
          <ion-label *ngIf="form.hasError('whitespace', 'numberPackages')">
            No has introducido caracteres.
          </ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="padding-left: 15px">
      <ion-col size="12">
        <ion-row>
          <ion-item class="form-input ion-no-padding">
            <ion-label class="ion-label" position="floating"
              >Observaciones</ion-label
            >
            <ion-textarea
              rows="2"
              formControlName="observations"
            ></ion-textarea>
          </ion-item>
        </ion-row>
        <div class="error">
          <ion-label
            *ngIf="
              form.hasError('required', 'observations') &&
              (form.controls.observations.touched ||
                form.controls.observations.dirty)
            "
          >
            Este campo es requerido.
          </ion-label>
          <ion-label *ngIf="form.hasError('whitespace', 'observations')">
            No has introducido caracteres.
          </ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
