<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ion-grid fixed>
    <ion-row class="ion-justify-content-around">
      <ion-col size="5">
        <ion-row>
          <ion-item class="form-input ion-no-padding">
            <ion-label class="ion-label" position="floating"
              >Lote y caducidad*</ion-label
            >

            <ion-select
              placeholder="Ingresa lote"
              style="--placeholder-color: black; --placeholder-opacity: 0.9;"
              formControlName="lotId"
              interface="action-sheet"
              (ionBlur)="change()"
              [disabled]="disabled(lots)"
            >
              <ng-container *ngFor="let lot of lots">
                <ion-select-option [value]="lot">
                  {{ lot.loteId }}
                </ion-select-option>
              </ng-container>
            </ion-select>
          </ion-item>
        </ion-row>
        <div class="error">
          <ion-label
            *ngIf="
              form.hasError('required', 'lotId') &&
              (form.controls.lotId.touched || form.controls.lotId.dirty)
            "
          >
            Este campo es requerido.
          </ion-label>
          <ion-label *ngIf="form.hasError('whitespace', 'lotId')">
            No has introducido caracteres.
          </ion-label>
        </div>
      </ion-col>
      <ion-col size="5">
        <ion-row>
          <ion-item class="form-input ion-no-padding">
            <ion-label class="ion-label" position="floating"
              >Producto*</ion-label
            >

            <ion-select
              placeholder="Seleccione un producto"
              formControlName="productId"
              interface="action-sheet"
              (ionChange)="onChangeProduct($event)"
              [disabled]="disabled(filterProducts)"
            >
              <ng-container *ngFor="let product of filterProducts">
                <ion-select-option [value]="product">
                  {{ product.description }} - {{ product.quantity }}
                </ion-select-option>
              </ng-container>
            </ion-select>
          </ion-item>
        </ion-row>
        <div class="error">
          <ion-label
            *ngIf="
              form.hasError('required', 'productId') &&
              (form.controls.productId.touched || form.controls.productId.dirty)
            "
          >
            Este campo es requerido.
          </ion-label>
          <ion-label *ngIf="form.hasError('whitespace', 'productId')">
            No has introducido caracteres.
          </ion-label>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-around">
      <ion-col size="5">
        <ion-row>
          <ion-item class="form-input ion-no-padding">
            <ion-label class="ion-label" position="floating"
              >Fecha de ingreso*</ion-label
            >
            <ion-input
              placeholder="Ingresa fecha"
              formControlName="expirationDate"
            >
            </ion-input>
          </ion-item>
        </ion-row>
        <div class="error">
          <ion-label
            *ngIf="
              form.hasError('required', 'expirationDate') &&
              (form.controls.expirationDate.touched ||
                form.controls.expirationDate.dirty)
            "
          >
            Este campo es requerido.
          </ion-label>
          <ion-label *ngIf="form.hasError('whitespace', 'expirationDate')">
            No has introducido caracteres.
          </ion-label>
        </div>
      </ion-col>

      <ion-col size="5">
        <ion-row>
          <ion-item class="form-input ion-no-padding">
            <ion-label class="ion-label" position="floating"
              >No. Paquetes/Piezas*</ion-label
            >
            <ion-input
              placeholder="Ingresa número"
              formControlName="numberpackages"
            >
            </ion-input>
          </ion-item>
        </ion-row>
        <div class="error">
          <ion-label
            *ngIf="
              form.hasError('required', 'numberpackages') &&
              (form.controls.numberpackages.touched ||
                form.controls.numberpackages.dirty)
            "
          >
            Este campo es requerido.
          </ion-label>
          <ion-label *ngIf="form.hasError('whitespace', 'numberpackages')">
            No has introducido caracteres.
          </ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="padding-left: 15px;">
      <ion-col size="12">
        <ion-row>
          <ion-item class="form-input ion-no-padding">
            <ion-label class="ion-label" position="floating"
              >Observaciones</ion-label
            >
            <ion-textarea
              rows="2"
              formControlName="observations"
            ></ion-textarea>
          </ion-item>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
