<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ion-grid fixed>
    <ion-row class="ion-justify-content-around" size="12">
      <ion-col size="5">
        <ion-row class="title">Color</ion-row>
        <ion-row class="title-ligth">Característico</ion-row>
      </ion-col>

      <ion-list>
        <ion-radio-group formControlName="colour">
          <ion-row>
            <ion-item>
              <ion-label>Aceptado</ion-label>
              <ion-radio slot="start" value="true"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Rechazado</ion-label>
              <ion-radio slot="start" value="false"></ion-radio>
            </ion-item>
          </ion-row>
        </ion-radio-group>
      </ion-list>
    </ion-row>

    <ion-row class="ion-justify-content-around" size="12">
      <ion-col size="5">
        <ion-row class="title">Textura</ion-row>
        <ion-row class="title-ligth">Característico</ion-row>
      </ion-col>

      <ion-list>
        <ion-radio-group formControlName="texture">
          <ion-row>
            <ion-item>
              <ion-label>Aceptado</ion-label>
              <ion-radio slot="start" value="true"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Rechazado</ion-label>
              <ion-radio slot="start" value="false"></ion-radio>
            </ion-item>
          </ion-row>
        </ion-radio-group>
      </ion-list>
    </ion-row>
  </ion-grid>
</form>
