<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ion-grid fixed>
    <ion-row class="ion-justify-content-around" size="12">
      <ion-col size="5">
        <ion-row class="title">Color</ion-row>
        <ion-row class="title-ligth">Característico</ion-row>
      </ion-col>

      <ion-col
        size="3"
        class="ion-justify-content-center ion-align-self-center ion-text-start"
      >
        <ion-row class="form-input ion-no-padding">
          <span class="checkbox">Aceptado</span>
          <ion-checkbox formControlName="color"></ion-checkbox>
        </ion-row>
      </ion-col>
      <ion-col
        size="4"
        class="ion-justify-content-center ion-align-self-center ion-text-start"
      >
        <ion-row class="form-input ion-no-padding">
          <span class="checkbox">Rechazado</span>
          <ion-checkbox formControlName="color"></ion-checkbox>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-around" size="12">
      <ion-col size="5">
        <ion-row class="title">Textura</ion-row>
        <ion-row class="title-ligth">Característico</ion-row>
      </ion-col>

      <ion-col
        size="3"
        class="ion-justify-content-center ion-align-self-center ion-text-start"
      >
        <ion-row class="form-input ion-no-padding">
          <span class="checkbox">Aceptado</span>
          <ion-checkbox></ion-checkbox>
        </ion-row>
      </ion-col>
      <ion-col
        size="4"
        class="ion-justify-content-center ion-align-self-center ion-text-start"
      >
        <ion-row class="form-input ion-no-padding">
          <span class="checkbox">Rechazado</span>
          <ion-checkbox></ion-checkbox>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
